/**
 * @file game.css
 * @author Kevin Ma 
 * @studentID 300867968
 * @date Nov 13 2016
 * @description This file is the main styling sheet for the game
 * @version 0.1.0
 */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@font-face {
    font-family: custfont;
    src: url(../Assets/fonts/Dock51.ttf);
}

body {
    background-color: darkgrey;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
    margin-top: 10vh;
    /*width: 100vw;
    height: 100vh;*/
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */